body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1942px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:111px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:111px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:100px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:1942px;
  height:100px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:1942px;
  height:871px;
  opacity:0.5;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:269px;
  width:1161px;
  height:170px;
  opacity:0.2;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:311px;
  width:731px;
  height:86px;
  opacity:0.2;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  white-space:nowrap;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:507px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:508px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:508px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:508px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:789px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:789px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:789px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:226px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:789px;
  width:253px;
  height:226px;
  opacity:0.2;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:269px;
  width:232px;
  height:429px;
  opacity:0.5;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:269px;
  width:232px;
  height:429px;
  opacity:0.5;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:352px;
  width:27px;
  height:29px;
  opacity:0.5;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:408px;
  width:27px;
  height:29px;
  opacity:0.5;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:465px;
  width:27px;
  height:29px;
  opacity:0.5;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:522px;
  width:27px;
  height:29px;
  opacity:0.5;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:270px;
  width:230px;
  height:50px;
  opacity:0.5;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:580px;
  width:27px;
  height:29px;
  opacity:0.5;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:277px;
  width:129px;
  height:38px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:347px;
  width:98px;
  height:34px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:403px;
  width:135px;
  height:34px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:463px;
  width:112px;
  height:34px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:520px;
  width:73px;
  height:34px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:578px;
  width:101px;
  height:34px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:645px;
  width:140px;
  height:40px;
  opacity:0.5;
  font-size:18px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:269px;
  width:230px;
  height:50px;
  opacity:0.5;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:1678px;
  top:275px;
  width:166px;
  height:38px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:359px;
  width:26px;
  height:38px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:552px;
  width:26px;
  height:38px;
  opacity:0.5;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:1689px;
  top:646px;
  width:140px;
  height:40px;
  opacity:0.5;
  font-size:18px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:1714px;
  top:347px;
  width:96px;
  height:67px;
  opacity:0.5;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:71px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:1717px;
  top:537px;
  width:93px;
  height:71px;
  opacity:0.5;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:166px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:519px;
  width:222px;
  height:166px;
  opacity:0.2;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:169px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:518px;
  width:228px;
  height:169px;
  opacity:0.2;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:169px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:518px;
  width:230px;
  height:169px;
  opacity:0.2;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:169px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:518px;
  width:228px;
  height:169px;
  opacity:0.2;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:154px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:804px;
  width:224px;
  height:154px;
  opacity:0.2;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:158px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:800px;
  width:230px;
  height:158px;
  opacity:0.2;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:71px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:134px;
  width:147px;
  height:48px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:159px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:799px;
  width:230px;
  height:159px;
  opacity:0.2;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:158px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:800px;
  width:227px;
  height:158px;
  opacity:0.2;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:71px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:746px;
  background:inherit;
  background-color:rgba(248, 246, 247, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:270px;
  width:517px;
  height:746px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:365px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:295px;
  width:120px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#999999;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:295px;
  width:103px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#999999;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:55px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:285px;
  width:2px;
  height:52px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:445px;
  height:5px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:347px;
  width:442px;
  height:2px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:375px;
  width:1px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:426px;
  width:138px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:375px;
  width:68px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:475px;
  width:97px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:445px;
  height:5px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:533px;
  width:442px;
  height:2px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:374px;
  width:282px;
  height:35px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:425px;
  width:282px;
  height:35px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:476px;
  width:282px;
  height:35px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(204, 204, 204, 1) 0%, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:785px;
  width:135px;
  height:35px;
  font-size:20px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:557px;
  width:51px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:614px;
  width:135px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:670px;
  width:133px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:725px;
  width:128px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:557px;
  width:282px;
  height:35px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:613px;
  width:282px;
  height:35px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:669px;
  width:282px;
  height:35px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 3px 8px -1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:723px;
  width:282px;
  height:35px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:787px;
  width:151px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:560px;
  width:56px;
  height:34px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:870px;
  width:327px;
  height:16px;
  font-size:20px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:866px;
  width:300px;
  height:46px;
  font-size:20px;
  color:#666666;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:945px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:137px;
  width:39px;
  height:40px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:139px;
  width:94px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:139px;
  width:170px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:139px;
  width:52px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:139px;
  width:133px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
