body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1942px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:1942px;
  height:871px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:784px;
  width:1175px;
  height:170px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:1171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:111px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:111px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:100px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:1942px;
  height:100px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:128px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:805px;
  width:1124px;
  height:128px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:247px;
  width:1175px;
  height:513px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:248px;
  width:1171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:128px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:805px;
  width:150px;
  height:128px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:128px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:805px;
  width:159px;
  height:128px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:128px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:805px;
  width:162px;
  height:128px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:272px;
  width:69px;
  height:43px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:315px;
  width:69px;
  height:43px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:315px;
  width:211px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:367px;
  width:407px;
  height:132px;
  font-size:20px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:128px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:805px;
  width:95px;
  height:128px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:128px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:805px;
  width:138px;
  height:128px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:964px;
  width:30px;
  height:16px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:128px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:805px;
  width:144px;
  height:128px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:990px;
  width:151px;
  height:20px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:990px;
  width:151px;
  height:20px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:990px;
  width:151px;
  height:20px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:990px;
  width:151px;
  height:20px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:990px;
  width:151px;
  height:20px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:990px;
  width:151px;
  height:20px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:1365px;
  top:990px;
  width:151px;
  height:20px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:1021px;
  width:130px;
  height:34px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:128px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:805px;
  width:151px;
  height:128px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:480px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:262px;
  width:377px;
  height:480px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:714px;
  width:110px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:137px;
  width:39px;
  height:40px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:490px;
  width:29px;
  height:50px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:1672px;
  top:477px;
  width:29px;
  height:50px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:139px;
  width:94px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:139px;
  width:170px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:139px;
  width:52px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:139px;
  width:133px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:134px;
  width:187px;
  height:48px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
