@import url("https://auth.uq.edu.au/idp/module.php/uqtheme/css/normalize.css");
@import url("https://qbi.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?ovm7mr");
@import url("https://auth.uq.edu.au/idp/module.php/uqtheme/css/uq.css");
@import url("./image-gallery.css");

/*****************  Contest Images and Voting Preselection *****************/
.image-contest {
  padding-top: 0;
}

.main-contest {
  max-width: 1140px;
  min-height: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contest-images {
  width: 70%;
  min-height: 60%;
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.voting {
  width: 30%;
  min-height: 20%;
  background-color: #f6f9fc;
  margin-top: 2em;
}
/***************************************************************************/
/******************************  Images Cards ******************************/

.image-card {
  width: 30%;
  height: 30%;
  margin: 0.7em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.image-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-card > h1 {
  font-size: 1.2em;
  margin: 0.45em 0;
  line-height: 0.9em;
  max-height: 17px;
  text-align: center;
  overflow: hidden;
}

#image-card__image {
  width: 167px;
  min-height: 155px;
  margin: 0;
}

.image-card > p {
  width: 90%;
  max-height: 75px;
  min-height: 75px;
  font-size: 0.7em;
  line-height: 15px;
  margin-bottom: 0.3em;
  overflow: hidden;
}

.image-card > i {
  color: #333;
  align-self: flex-end;
  padding-right: 0.5em;
  transition: all 0.3s;
  cursor: pointer;
}

.image-card > i.fa-check {
  color: #20c758;
}
/***************************************************************************/
/****************************  Nominated Images ****************************/

.voting {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.voting > h1 {
  font-size: 1.5em;
  text-align: center;
}

.voting > div {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.nominated {
  width: 100%;
  max-height: 70px;
  margin: 0.4em 0;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nominatedImage {
  min-width: 50px;
  min-height: 50px;
  margin-right: 0.8em;
}

.nominatedImageTitle {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.nominatedImageTitle > p {
  font-weight: 400;
  margin: 0;
}

.vote {
  min-width: min-content;
  margin: 0;
  margin-top: 1em;
  padding: 0.5em 1.2em;
  align-self: flex-end;
  border-radius: 4px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: normal;
  background-color: #2377CB;
  border-color: transparent;
  color: #fff;
}

.vote:disabled {
  background-color: #74A3D2;
  color: #fff;
}

.vote:disabled:hover {
  background-color: #74A3D2;
  color: #fff;
}

.vote:hover {
  background-color: #1C66B0;
  color: #fff;
}

.voting-instructions {
  padding: 0 1em;
}

.voting-instructions > p {
  margin: 0;
}

.vonting-instructions > ol {
  margin: 0;
  margin-top: 1em;
}

/***************************************************************************/
/******************************  Past Winner  ******************************/

#main-menu {
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgDescription h1{
	margin-top: 3px;
	font: 24px Helvetica;
	text-align: center;
	font-weight: bold;
}

.ImgDescription h2{
	font: 20px Helvetica;
	text-align: center;
}

.ImgDescription p{
	font: 15px Helvetica;
	width: 700px;
	margin: auto;
	margin-bottom: 20px;
	line-height:22px;
}

.Purchase{
	font: 15px Helvetica;
	margin-left:70%;
	background-color:#6e0b8d;
	text-decoration: none;
	padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 30px;
}

.Purchase:hover{
	background-color:#6e0b8d;
}

/***************************************************************************/
/******************************  Contact  ******************************/

.button--outline {
  background-color: transparent;
  border: 2px solid #2377CB;
  padding: 0.85rem 1.9rem 0.9625rem;
  border-radius: 0;
}

.contact-button {
  min-width: auto;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  transition: background-color 300ms ease-out;
}

.contact-button:hover {
  color: #e6e6e6;
  background-color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
  outline: 0;
}