/* UQ stylesheets were imported for header, navigatio bar, footer, contact and login pages */
@import url("https://auth.uq.edu.au/idp/module.php/uqtheme/css/normalize.css");
@import url("https://qbi.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?ovm7mr");
@import url("https://auth.uq.edu.au/idp/module.php/uqtheme/css/uq.css");
@import url("./image-gallery.css");

body {
  background-color: white;
}

/*****************  Contest Images and Voting Preselection *****************/
.image-contest {
  padding-top: 0;
  z-index: 1;
}

.main-contest {
  max-width: 1140px;
  min-height: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.contest-images {
  width: 75%;
  min-height: 60%;
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.voting {
  width: 25%;
  min-height: 20%;
  /* background-color: #f4f5f6; */
  margin-top: 2em;
  border-left: 2px solid #49075E;
}

#competitionTitle {
  width: 80%;
  text-align: center;
  margin: 0.5em auto 0.1em auto;
}
/***************************************************************************/
/******************************  Images Cards ******************************/

.image-card {
  width: 30%;
  height: 30%;
  margin: 0.7em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.image-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-card > h1 {
  font-size: 1.2em;
  margin: 0.45em 0;
  line-height: 1.2em;
  max-height: 1.2em;
  text-align: center;
  overflow: hidden;
}

#image-card__image {
  width: 167px;
  min-height: 155px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-card > p {
  width: 90%;
  max-height: 75px;
  min-height: 75px;
  font-size: 0.7em;
  line-height: 15px;
  margin-bottom: 0.3em;
  overflow: hidden;
}

.image-card > i {
  color: #333;
  align-self: flex-end;
  padding-right: 0.5em;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0.4em 0.1em 0.1em 0.1em;
}

.image-card > i.fa-check {
  color: #20c758;
}

.image-card div a > i {
  color: #fff;
  padding-right: 0.5em;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0.4em 0.1em 0.1em 0.4em;
}
/***************************************************************************/
/****************************  Voted Images ****************************/

.voting {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.voting > h1 {
  font-size: 1.5em;
  text-align: center;
}

.voting > div {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.voted {
  width: 100%;
  max-height: 70px;
  margin: 0.4em 0;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.votedImage {
  min-width: 50px;
  min-height: 50px;
  margin-right: 0.8em;
}

.votedImageTitle {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.votedImageTitle h5 {
  margin-bottom: 0.2rem;
}

.votedImageTitle > p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
}

.vote {
  min-width: min-content;
  max-width: min-content;
  right: 0;
  margin: 0;
  margin-top: 1em;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: normal;
  background-color: #2377CB;
  border-color: transparent;
  color: #fff;
}

.vote:disabled {
  background-color: #74A3D2;
  color: #fff;
}

.vote:disabled:hover {
  background-color: #74A3D2;
  color: #fff;
}

.vote:hover {
  background-color: #1C66B0;
  color: #fff;
}

.voting-instructions {
  padding: 0 1em;
}

.voting-instructions > p {
  margin: 0;
}

.vonting-instructions > ol {
  margin: 0;
  margin-top: 1em;
}

#vote-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

/***************************************************************************/
/******************************  Past Winners  ******************************/

#main-menu {
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-details h1{
	margin-top: 0.2em;
	font: 2em 'Roboto', sans-serif;
	text-align: center;
	font-weight: 600;
}

.image-details p{
	font: 0.9em 'Roboto', sans-serif;
	width: 40%;
	margin: auto;
	margin-bottom: 1em;
	line-height: 1.1em;
}

.buy-button {
  min-width: auto;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  transition: background-color 300ms ease-out;
}

.buy-button:hover {
  color: #e6e6e6;
  background-color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
  outline: 0;
}

.image-gallery-right-nav {
  padding: 0 !important;
  background-color: #fff;
  max-width: 3em;
  min-width: 1.5em;
  right: 0.7em !important;
}

.image-gallery-right-nav::before {
  color: #6d387e !important;
}

.image-gallery-right-nav:hover {
  color: #fff !important;
  background-color: #fff !important;
}

.image-gallery-left-nav {
  padding: 0 !important;
  background-color: #fff;
  max-width: 3em;
  min-width: 1.5em;
  left: 0.7em !important;
}

.image-gallery-left-nav::before {
  color: #6d387e !important;
}

.image-gallery-left-nav:hover {
  color: #fff !important;
  background-color: #fff !important;
}

/***************************************************************************/
/********************************  Contact  ********************************/

.button--outline {
  background-color: transparent;
  border: 2px solid #2377CB;
  padding: 0.85rem 1.9rem 0.9625rem;
  border-radius: 0;
}

.contact-button {
  min-width: auto;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  transition: background-color 300ms ease-out;
}

.contact-button:hover {
  color: #e6e6e6;
  background-color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
  outline: 0;
}

/***************************************************************************/
/********************************  Sing up  ********************************/

.sign-on__select {
  margin: 0;
  height: 3.5rem;
  padding: 0 1.5rem;
  border: 0;
  box-shadow: none;
}

.terms > p {
  padding: 0 1.5em;
}

/***************************************************************************/
/********************************  Submit  *********************************/

#rn_PageContent {
  max-width: 1140px;
  min-height: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.submit-title {
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 1em auto;
  text-align: center;
}

#rn_FormSubmit_15_Button {
  min-width: min-content;
  margin: 0;
  margin-top: 1em;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: normal;
  background-color: #2377CB;
  border-color: transparent;
  color: #fff;
}

#rn_FormSubmit_15_Button:hover {
  background-color: #1C66B0;
  color: #fff;
}

#rn_FormSubmit_15 {
  display: flex;
  justify-content: flex-end;
}

.rn_Padding {
  width: 60%;
}

/***************************************************************************/
/********************************  Modal Window for Image Showcase  *********************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  padding: 3em 2em;
  justify-content: center;
  align-items: center;
}

/* Modal Content (Image) */
.modal-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 50vw;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-image, #caption { 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-image {
      width: 100%;
  }
}

/***************************************************************************/
/********************************  Modal Window for Over the limit Voted Images *********************************/
/* The Modal (background) */
.vote-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.vote-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.vote-close {
  color: white;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.vote-close:hover,
.vote-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.vote-modal-header {
  padding: 0.4rem 1.1rem;
  background-color: #49075E;
  color: white;
}

.vote-modal-header h2 {
  font-size: 1.3rem;
  margin: 0;
}

.vote-modal-body {
  padding: 0.4rem 1.1rem;
}

/***************************************************************************/
/********************************  Contact  *********************************/

.contact-content {
  width: 80vw;
  height: 70vh;
  background-color: white;
  margin: 0 auto;
  padding: 3rem 2rem;
}

/***************************************************************************/
/********************************  Map *********************************/
#qbi-map {
  border: 0;
}