@import url("./styles-blessed1.css");
@import url("https://qbi.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?ovm7mr");
@import url("./image-gallery.css");

.navigation{
  margin-left: 30%;
}

.ImgDescription h1{
	margin-top: 3px;
	font: 24px Helvetica;
	text-align: center;
	font-weight: bold;
}

.ImgDescription h2{
	font: 20px Helvetica;
	text-align: center;

}

.ImgDescription p{
	font: 15px Helvetica;
	width: 700px;
	margin: auto;
	margin-bottom: 20px;
	line-height:22px;
}

.Purchase{
	font: 15px Helvetica;
	margin-left:70%;
	background-color:#6e0b8d;
	text-decoration: none;
	padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 30px;
}

.Purchase:hover{
	background-color:#6e0b8d;
	}






