
#rn_PageContent{
	width:80%;
	margin:auto;

}
.empty{
	height:40px;
}
.title{
	font-size: 36px;
    font-weight: 300;
    color: #49075e;
    text-align: left;
    
}
#rn_TextInput_10{
	width:50%;
}
#uploadimage{
	background:white;
	width:40%;
	float:right;
	height:250px;
	border: 2px solid gray;
	margin:20px;
	
}
#rn_FormSubmit_15_Button{
    background-color: #49075e;
	color: #fff;
}
#category{
	background:#fff;
	z-index:100;
}
#image1{
	height:240px;
	width:250px;
	margin-left:90px;
}
