@import url("https://qbi.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?oyb6j2");
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1942px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:relative;
  top:-208px;
  z-index:0;

}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:1942px;
  height:871px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:111px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:111px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1942px;
  height:100px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:1942px;
  height:100px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:315px;
  width:69px;
  height:43px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:865px;
  background:inherit;
  background-color:#49075e;
  box-sizing:border-box;
  border-width:1px;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:389px;
  height:865px;
  font-size:11px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:90px;
  background:inherit;
  background-color:rgba(130, 92, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:233px;
  width:96px;
  height:90px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:722px;
  background:inherit;
  background-color:#49075e;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:389px;
  height:722px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:353px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:57px;
  background:inherit;
  background-color:rgba(35, 39, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:559px;
  width:389px;
  height:57px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:57px;
  background:inherit;
  background-color:rgba(35, 39, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:389px;
  height:57px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:364px;
  width:28px;
  height:30px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:266px;
  width:185px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:368px;
  width:186px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:373px;
  width:21px;
  height:14px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:581px;
  width:21px;
  height:14px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:428px;
  width:127px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:473px;
  width:132px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:514px;
  width:130px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:434px;
  width:11px;
  height:18px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:476px;
  width:11px;
  height:18px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:514px;
  width:11px;
  height:18px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:48px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:675px;
  width:386px;
  height:48px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:576px;
  width:197px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:645px;
  width:129px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:687px;
  width:127px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:645px;
  width:11px;
  height:18px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:690px;
  width:11px;
  height:18px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:68px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:282px;
  width:852px;
  height:68px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:28px;
  background:inherit;
  background-color:rgba(73, 7, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:228px;
  width:7px;
  height:28px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:232px;
  width:186px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:304px;
  width:71px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:304px;
  width:38px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:304px;
  width:62px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:304px;
  width:69px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:103px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:379px;
  width:856px;
  height:103px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:103px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:517px;
  width:856px;
  height:103px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:103px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:659px;
  width:856px;
  height:103px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:103px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:798px;
  width:856px;
  height:103px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:103px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:949px;
  width:856px;
  height:103px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:103px;
  background:inherit;
  background-color:rgba(205, 205, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:379px;
  width:105px;
  height:103px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:103px;
  background:inherit;
  background-color:rgba(205, 205, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:516px;
  width:105px;
  height:103px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:103px;
  background:inherit;
  background-color:rgba(205, 205, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:660px;
  width:105px;
  height:103px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:103px;
  background:inherit;
  background-color:rgba(205, 205, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:798px;
  width:105px;
  height:103px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:103px;
  background:inherit;
  background-color:rgba(205, 205, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:949px;
  width:105px;
  height:103px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:422px;
  width:55px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:556px;
  width:55px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:700px;
  width:55px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:838px;
  width:55px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:989px;
  width:55px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:422px;
  width:78px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:556px;
  width:78px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:700px;
  width:78px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:838px;
  width:78px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:989px;
  width:78px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:422px;
  width:32px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:556px;
  width:32px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:700px;
  width:32px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:838px;
  width:32px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:989px;
  width:22px;
  height:24px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:54px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:405px;
  width:65px;
  height:54px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:54px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:543px;
  width:65px;
  height:54px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:54px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:685px;
  width:65px;
  height:54px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:54px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:823px;
  width:65px;
  height:54px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:54px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:973px;
  width:65px;
  height:54px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:253px;
  width:43px;
  height:50px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:470px;
  width:26px;
  height:24px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:519px;
  width:19px;
  height:18px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:426px;
  width:25px;
  height:26px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:645px;
  width:31px;
  height:25px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:225px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:486px;
  width:220px;
  height:225px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:687px;
  width:24px;
  height:24px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:69px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:284px;
  width:2px;
  height:66px;
  opacity:0.8;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:69px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:283px;
  width:2px;
  height:66px;
  opacity:0.8;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:69px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:283px;
  width:2px;
  height:66px;
  opacity:0.8;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:704px;
  width:20px;
  height:16px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:424px;
  width:20px;
  height:16px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:560px;
  width:20px;
  height:16px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:842px;
  width:20px;
  height:16px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:989px;
  width:20px;
  height:16px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:556px;
  width:440px;
  height:168px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:595px;
  width:353px;
  height:62px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u1468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:667px;
  width:140px;
  height:40px;
  font-size:28px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
  color:black;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:667px;
  width:140px;
  height:40px;
  font-size:28px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
  color:black;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:39px;
  height:40px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:137px;
  width:39px;
  height:40px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:139px;
  width:94px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:139px;
  width:170px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:139px;
  width:52px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:139px;
  width:133px;
  height:38px;
  font-family:'Robot Regular', 'Robot';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
